body{
  background-image: url("./images/background1.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  color: rgb(197, 194, 194)!important;
}

.row{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2%;
  margin-bottom: 12%;
  /* 3%; */

}
.row::after{
  display: table;
  clear: both;
  content: "";
} 

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;align-content: center;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;} 

p{
  font-size: 20px;
  padding-left: 10%;
}


h1{
  padding-left: 7%;
  color: inherit!important;
  margin-bottom: 8%!important;
}

img{
  padding-left: 20%;
}

.serviceImg{
  height: 200px;
  width: 300px;
}

.hr{
  color: black;
  margin-bottom: 50%;
}

.btn{
  display: block;
  margin: auto;
  padding-right: 10%;
  padding-left: 10%;
  border-radius:50px;
  background-color: rgb(187, 201, 207);
}

.a{
  align-content: flex-end;
  text-align: right;
}


.About, .Services{
  padding-top: 12%;
}

.homeImg{
  width:70%;
  opacity: 30%;
  /* margin:-3%; */
  margin-left: 12%;
  padding: 0px;
}


.Home{
  background-image: url("./images/home.png");
  background-repeat: no-repeat;
  background-position:center;
  background-size:cover;
  padding: 25%;
}

/*###################### Nav Bar #####################*/
nav{
  width: 100%;
  margin: 0;
  position: fixed;
}

nav ul.rel{
  background-color: rgba(0, 0, 0, 0.253);
  overflow: hidden;
  margin: 0;
  padding: 0;
}

nav ul.rel li{
  list-style: none;
  float: left;
} 


nav ul.rel li a{
  display: block;
  text-decoration: none;
  min-height: 16px;
  text-align: center;
  padding: 14px;
  text-transform: uppercase;
  color: rgb(224, 224, 224);
}

nav ul.rel li a:hover{
  background-color: #838383;
  color: #eee;
}

nav ul.rel li.dropDownIcon {
  display: none;
}

/*############# Mobile menu ####################*/
@media screen and (max-width: 680px){
  nav ul.rel li:not(:nth-child(1)){
      display: none;
  }
  nav ul.rel li.dropDownIcon{
      display: block;
      float: right;
  }
  nav ul.rel.responsive li.dropDownIcon{
      position: absolute;
      right: 0;
      top: 0;
  }
  nav ul.rel.responsive{
      position: relative; /*to make sure that the nav bar is not gonna move*/
  }
  nav ul.rel.responsive li {
      display: inline;/*line the elements in a row*/
      float: none;
  }
  nav ul.rel.responsive li a{
      display: block;
      text-align: left;
  }
  
}
